# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
DATABASE_URL="mysql://ID393422_boardgamebox:75Wnkm624BmZ8245bZjd@ID393422_boardgamebox.db.webhosting.be/ID393422_boardgamebox"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="YourOwnSecret"
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_API_KEY = "YourKey"
NEXT_PUBLIC_BASE_BGA = "https://api.boardgameatlas.com/api"

NEXT_PUBLIC_ISINDEVELOPMENT = true

# FACEBOOK_CLIENT_ID="220210360764477"
# FACEBOOK_CLIENT_SECRET="b9358129420679e76142f2a522530142"

# INSTAGRAM_CLIENT_ID="3358211077725006"
# INSTAGRAM_CLIENT_SECRET="fea17f28f27d11e0e705a5f4c7803d66"
